@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,600;0,700;1,300&family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAV */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}

.line {
  font-size: 1.3rem;
  color: rgb(100, 134, 120);
}

.nav-ul {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.nav-ul li {
  text-decoration: none;
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
  color: rgb(100, 134, 120);
  font-family: 'Cormorant', serif;
  font-weight: 500;
  font-size: 1.2rem;
  transition: 1s;
}

.nav-links:hover {
  color: rgb(222, 198, 100);
}

/*/*//*/*/

.boda-wrapper {
  display: flex;
  justify-content: space-around;
}

.side {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 2.3rem;
  color: rgb(247, 194, 102);
  letter-spacing: 1px;
  font-family: 'Cormorant', serif;
  font-style: italic;
  position: fixed;
  margin-top: 8rem;
}

/* BODA BACKGROUND */
.boda-background {
    margin: 1.2rem 2rem;
    background-color: rgb(240, 240, 241);
    border-radius: 5px;
    margin: 5rem;
}

.accordion {
  margin: 0rem 0.5rem;
}



.karen-fer {
  display: flex;
  justify-content: center;
}

.flower-bg {
  height: 5rem;
  width: 5rem;
}

.karfer {
  text-align: center;
  font-size: 3rem;
  color: rgb(100, 134, 120);
  font-family: 'Cormorant', serif;
  font-weight: 300;
  padding: 1rem .5rem;
}

.h7 {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(100, 134, 120);
    font-family: 'Cormorant', serif;
    font-weight: 500;
}

img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

.boda-image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

/* BODA SECTON */
.boda-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col{
    flex: 1;
    text-align: center;
    background-color: rgb(148, 185, 170);
    padding: 2rem 2rem;
    font-family: 'Cormorant', serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.p {
  font-size: 1.8rem;

}

.boda-container h7 {
  text-align: center;
  font-size: 2rem;
  color: rgb(100, 134, 120);
  font-family: "Great Vibes", cursive;
  font-weight: 600;
}

/* GOOGLEMAP */
iframe {
  width: 100%; /* or any custom size */
  padding-top: 2rem;

}

/* TRANSPORTATION */
.transportation-title {
  text-align: center;
  padding: 2rem 0rem;
  font-family: 'Cormorant', serif;
  font-size: 2rem;
  font-weight: bold;
}

.accordion-button {
  width: 70%;
}

.trans-ul {
  padding: 1rem 2rem;
}


.trans-line {
        display: inline-block;
        border-left: 2px solid rgb(100, 134, 120);
        margin: 0px 10px;
        margin-top: 7rem;
        height: 15rem;
}


h8 {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.trans-line p {
    font-size: 12px;
}

li {
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .nav-ul {
    gap: 0.2rem;
  }
  .boda-background {
    margin: .2rem 2rem;
  }

  .side {
    font-size: 1.4rem;
  }
}
