@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NAV */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.line {
  font-size: 1.5rem;
  color: rgb(100, 134, 120);
}

.nav-links {
  text-decoration: none;
  color: rgb(100, 134, 120);
  font-family: "Bad Script", cursive;
  transition: 1s;
}

.nav-links:hover {
  color: rgb(222, 198, 100);
}

.boda-wrapper {
  display: flex;
  justify-content: space-around;
}

.side {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 2rem;
  color: rgb(247, 194, 102);
  letter-spacing: 1px;
  font-family: "Great Vibes", cursive;
  position: fixed;
  margin-top: 8rem;
}

/* BODA BACKGROUND */
.boda-background {
    margin: 1rem 2rem;
    background-color: rgb(240, 240, 241);
    border-radius: 5px;
    margin: 5rem;
}

.karen-fer {
  display: flex;
  justify-content: center;
}

.flower-bg {
  height: 5rem;
  width: 5rem;
}

h6 {
  text-align: center;
  font-size: 4rem;
  color: rgb(100, 134, 120);
  font-family: 'Joan', serif;
  font-weight: 300;
}

.h7 {
    text-align: center;
    font-size: 1rem;
    color: rgb(100, 134, 120);
    font-family: 'Joan', serif;
}

img {
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}

.boda-image-div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

/* BODA SECTON */
.boda-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col{
    flex: 1;
    text-align: center;
    background-color: rgb(148, 185, 170);
    padding: 2rem 2rem;
    font-family: 'Joan', serif;
    letter-spacing: 2px;
}

.boda-container h7 {
  text-align: center;
  font-size: 3rem;
  color: rgb(100, 134, 120);
  font-family: "Great Vibes", cursive;
}

/* GOOGLEMAP */
iframe {
  width: 100%; /* or any custom size */
  padding-top: 2rem;

}

/* TRANSPORTATION */
.transportation-container {
    display: flex;
    flex-direction: column;
    font-family: 'Joan', serif;
}

.transportation-container p {
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    padding-top: 2rem;
    font-family: 'Joan', serif;
}

.trans1,
.trans2 {
  background-color: rgb(148, 185, 170);
  border-radius: 5px;
}

.trans-ul {
  padding: 1rem 2rem;
}


.row, 
.row2 {
    display: flex;
    justify-content: space-around;
    font-family: 'Joan', serif;
    padding: 2rem 2rem;
}

.row .trans1, .trans2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.row2 .trans1, .trans2 {
  width: 50%;
}

.trans-line {
        display: inline-block;
        border-left: 2px solid rgb(100, 134, 120);
        margin: 0px 10px;
        margin-top: 7rem;
        height: 15rem;
}


h8 {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.trans-line p {
    font-size: 12px;
}

li {
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .boda-background {
    margin: 1.2rem 2rem;
  }
  .row, .row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 0rem;
  }
  .trans-line {
    visibility: hidden;
    height: .1rem;
  }
  .row .trans1, .trans2 {
    width: 100%;
    border-radius: 0;
  }
  .row2 .trans1, .trans2 {
    width: 100%;
    border-radius: 0;
  }
  h6 {
    font-size: 2.4rem;
  }
}
