@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,600;0,700;1,300&family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* NAV */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.line {
  font-size: 1.5rem;
  color: rgb(100, 134, 120);
}

.nav-ul {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.nav-ul li {
  text-decoration: none;
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
  color: rgb(100, 134, 120);
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 1.2rem;
  transition: 1s;
}

.nav-links:hover {
  color: rgb(222, 198, 100);
}

/*/*//*/*/

h9 {
  text-align: center;
  font-family: 'Cormorant', serif;
  font-style: bold;
  font-size: 2.5rem;
  color: rgb(52, 92, 52);
}

h11{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

p{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}

.corte {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: bolder;
}

.h10-regalo,
.p-regalo {
  font-size: 1.1rem;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}

.regalo-line {
  width: 8rem;
  border-bottom: 1px solid rgb(52, 92, 52);
}

.regalo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2rem;
    margin: 2rem 4rem;
    background-color: rgb(189, 208, 189);
    font-family: 'Joan', serif;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: justify;
}

.inbtwn {
  height: 20%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .nav-ul {
    gap: .5rem;
  }
  .nav-links {
    font-size: 1.3rem;
    color: cadetblue;
  }
    .regalo-container {
      margin: 1rem 2rem;
      line-height: 2rem;
    }
    img {
      width: 100%;
    }
  }