@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,600;0,700;1,300&family=Montserrat:wght@200&family=Roboto:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/index_background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* NAV */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}

.line {
  font-size: 1.5rem;
  color: rgb(100, 134, 120);
}

.nav-ul {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.nav-ul li {
  text-decoration: none;
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
  color: rgb(100, 134, 120);
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 1.5rem;
  transition: 1s;
}

.nav-links:hover {
  color: rgb(222, 198, 100);
}

/*/*/ /*/*/

h1 {
  text-align: center;
  font-family: "Cormorant", serif;
  font-style: bold;
  font-size: 2.5rem;
  color: rgb(52, 92, 52);
}

h2,
h3 {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

.corte {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: bolder;
}

.p-regalo {
  font-size: 1.1rem;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
}

.regalo-line {
  width: 8rem;
  border-bottom: 1px solid rgb(52, 92, 52);
}

.regalo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Joan", serif;
  text-align: justify;
  line-height: 2rem;
  padding-top: 5rem;
  height: 100vh;
}

@media only screen and (max-width: 600px) {
  .nav-ul {
    gap: 0.5rem;
  }
  .nav-links {
    font-size: 1.3rem;
  }
  .regalo-container {
    padding-top: .5rem;
    margin: 0rem 2rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    margin: 0rem 1rem;
  }
  img {
    width: 100%;
  }
}
