
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,600;0,700;1,300&family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* NAV */
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
  }
  
  .line {
    font-size: 1.5rem;
    color: rgb(100, 134, 120);
  }
  
  .nav-ul {
    display: flex;
    justify-content: end;
    gap: 2rem;
  }
  
  .nav-ul li {
    text-decoration: none;
    list-style-type: none;
  }
  
  .nav-links {
    text-decoration: none;
    color: rgb(100, 134, 120);
    font-family: 'Cormorant', serif;
    font-size: 1.2rem;
    transition: 1s;
  }
  
  .nav-links:hover {
    color: rgb(222, 198, 100);
  }
  
  /*/*//*/*/




/* RSVP PAGE */
.rsvp-container {
    margin: 0rem 3rem;
    background-color: rgb(189, 208, 189);
  }
  
  .rsvp-h1 {
    font-family: 'Cormorant', serif;
    font-size: 2.3rem;
    text-align: center;
    padding: 2rem 2rem;
  }
  
  .form {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  input {
    color: rgb(33, 33, 33);
    font-size: 1rem;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid black;
    font-family: 'Montserrat', sans-serif;
  }
  
  .form-name-container {
    padding: 1rem 1rem;
  }
  
  .button1 {
      padding: .5rem 1rem;
      border-radius: 3px;
      border: none;
      font-size: .9rem;
      font-family: 'Montserrat', sans-serif;
      font-style: bold;
      font-weight: 600;
    }
  
  .contact-us {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      padding: 2rem;
  }
  
  .contact {
    padding-top: 4rem;
  }
  h5 {
      font-family: 'Cormorant', serif;
      text-align: center;
      font-size: 2rem;
  }
  
  h10 {
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
  }
  
  .contact-us p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
  }

  .kar,
  .fer {
    line-height: 1.4rem;
  }


  @media only screen and (max-width: 600px) {
    .nav-ul {
      gap: .5rem;
    }
    .nav-links {
      font-size: 1.3rem;
      color: cadetblue;
    }
}
  
  