@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,600;0,700;1,300&family=Montserrat:wght@200&family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY BACKGROUND */
body {
  background: url("./images/index_background.png") 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* NAV */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 1rem;
}

.line {
  font-size: 1.5rem;
  color: rgb(100, 134, 120);
}

.nav-ul {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.nav-ul li {
  text-decoration: none;
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
  color: rgb(100, 134, 120);
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 1.5rem;
  transition: 1s;
}

.nav-links:hover {
  color: rgb(222, 198, 100);
}

/*/*/  
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 98vh;
  padding-bottom: 4.5rem;
}

.celebrate-quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

img {
  border-radius: 12px;
  height: 100%;

}

/*/*/


h2 {
  font-size: clamp(5rem, 2.5vw, 6rem);
  color: rgb(100, 134, 120);
  font-family: "Cormorant", serif;
  font-style: italic;
}

h3,
h4 {
  color: rgb(67, 67, 67);
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1rem;
}

h5 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(100, 134, 120);
  font-family: "Cormorant", serif;
  font-style: italic;
}


@media only screen and (max-width: 600px) {
  .hero {
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    padding-bottom: 2.5rem;
    height: 80vh;
  }
  .celebrate-quote {
    margin: 4rem 0rem;
  }
  .nav-ul {
    gap: 0.5rem;
  }
  .nav-links {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 2.3rem;
    padding-top: 2rem;
    padding-bottom: .2rem;
  }
  h3,
  h4 {
    font-size: 0.9rem;
  }
  h5 {
    font-size: 1.3rem;
    padding: 0rem .2rem;
  }
  .hero-photo {
    padding: 0rem;
  }
  img {
    height: 80%;
    width: 100%;
  }
}
