@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,600;0,700;1,300&family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY BACKGROUND */
body {
  background: url('./images/index_bg.jpg') fixed 50%;
  background-size: cover;

}


/* NAV */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: .6rem 1rem;
  background-color: #fff;
}

.line {
  font-size: 1.5rem;
  color: rgb(100, 134, 120);
}

.nav-ul {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.nav-ul li {
  text-decoration: none;
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
  color: rgb(100, 134, 120);
  font-family: 'Cormorant', serif;
  font-weight: 500;
  font-size: 1.2rem;
  transition: 1s;
}

.nav-links:hover {
  color: rgb(222, 198, 100);
}

/*/*/

.hero {
  height: 60vh;
}


/*/*/

.celebrate-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

h3,
h4 {
  color: rgb(247, 194, 102);
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
}


h2 {
  font-size: clamp(3rem, 2.5vw, 4rem); 
  color: rgb(100, 134, 120);
  font-family: 'Cormorant', serif;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  color: rgb(100, 134, 120);
  font-family: 'Cormorant', serif;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(116, 169, 116);
}

.shannon a {
  text-decoration: none;
  color: #000;
}


@media only screen and (max-width: 600px) {
  body {
    background-size: covers;
  }
  .nav-ul {
    gap: .5rem;
  }
  .nav-links {
    font-size: 1.3rem;
    color: cadetblue;
  }
  h3,
  h4 {
    font-size: .9rem;
  }

  .hero {
    height: 60vh;
  }
  .celebrate-quote {
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    height: 50vh;
  }
  h2 {
    font-size: 3rem;
  }
  h5 {
    font-size: 1.8rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 5rem;
  }
  .form-name-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 1rem;
  }
  .celebrate-quote {
    padding: 0rem 0rem;
  }
}
