@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,600;0,700;1,300&family=Montserrat:wght@200&family=Roboto:wght@100&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* BODY BACKGROUND */
body {
  background: url('./images/index_background.png') 100% ; 
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
}


/* NAV */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: .6rem 1rem;
}

.line {
  font-size: 1.5rem;
  color: rgb(100, 134, 120);
}

.nav-ul {
  display: flex;
  justify-content: end;
  gap: 2rem;
}

.nav-ul li {
  text-decoration: none;
  list-style-type: none;
}

.nav-links {
  text-decoration: none;
  color: rgb(100, 134, 120);
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 1.5rem;
  transition: 1s;
}

.nav-links:hover {
  color: rgb(222, 198, 100);
}

/*/*/
.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  gap: 1rem;
}

.hero-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

img {
  border-radius: 15px;
  height: 100%;
}


/*/*/

.celebrate-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

h2 {
  font-size: clamp(5rem, 2.5vw, 6rem); 
  color: rgb(100, 134, 120);
  font-family: 'Cormorant', serif;
  font-style: italic;
}


h3,
h4 {
  color: rgb(67, 67, 67);
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(100, 134, 120);
  font-family: 'Cormorant', serif;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(116, 169, 116);
}

.shannon a {
  text-decoration: none;
  color: #000;
}


@media only screen and (max-width: 600px) {
  .nav-ul {
    gap: .5rem;
  }
  .nav-links {
    font-size: 1.3rem;
    color: cadetblue;
  }
  h2 {
    font-size: 3rem;
  }
  h3,
  h4 {
    font-size: .9rem;
  }

.hero {
  padding-top: 2rem;
}
  .celebrate-quote {
    align-items: center;
    flex-direction: column;
    gap: .5rem;
  }

  .form-name-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 1rem;
  }
  .celebrate-quote {
    padding: 0rem 0rem;
  }
  img {
    margin: 2rem 0rem
  }
}
